# MolSSI Workshop
## Introduction

In [3]:
3+7

10

In [5]:
Delta_H = -541 #kJ/gmol
Delta_S = 10.4 #kJ/gmol
T = 298 #Kelvin
Delta_G = Delta_H -(Delta_S * T)

In [7]:
print(Delta_G)

-3640.2000000000003

In [13]:
Delta_G = Delta_G * 1000
print(Delta_G)

-3640200000.0000005

In [15]:
Dleta_H , Delta_S, T = -541 , 10.4 , 298
Delta_G = Delta_H -(Delta_S * T)
print(Delta_G)

-3640.2000000000003

In [23]:
##Data Type
#Each variable is some particular type of data. The most common types of data are strings (str), integers (int), and floating point numbers (float). You can identify the data type of any variable with the function type(variable_name).

In [19]:
type(Delta_G)  #It should be float type (Decimal or floating-point numbers).

float

In [25]:
#If I want to change the data type of any variable (e.g. Delta_G), then I can do it through following:

In [33]:
Delta_G_string = str(Delta_G)
type(Delta_G_string)

str

In [35]:
Delta_G_string = "Delta_G"
type(Delta_G_string)

str

In [37]:
Delta_S_string = "Delta_S"
type(Delta_S_string)

str

In [45]:
energy = [-13.4, 14.2, 17.3, 19] # kcal
energy_length = len(energy)

print(energy_length)

4

In [41]:
#I can also express it like this.
print('The length of energy variable is' , len(energy))

The length of energy variable is 4

In [43]:
# In python counting starts at zero. So the first element of the list is list[0], so to print it
print(energy[0])

-13.4

In [49]:
# To use any particular value in the list, we can do this:
energy_kJ = energy[1] * 4.184
print(energy_kJ)

59.4128

In [55]:
# We might want to make a new list that is just the first few elements of our previous list. This is called a slice.
energy_new_list = energy[1:3] # This is Slice. It will count element 1 and 2, but not the last 3
print(energy_new_list)

[14.2, 17.3]

In [61]:
Slice1 = energy[1:]   # Contains element 1 2 3, so element number before : is counted
Slice2 = energy[:3]   # Contains element 0 1 2, the last element number after : is not counted
Slice3 = energy[:]
print(Slice1, Slice2, Slice3)

[14.2, 17.3, 19] [-13.4, 14.2, 17.3] [-13.4, 14.2, 17.3, 19]

In [65]:
print(energy)
print(energy[0:2])

[-13.4, 14.2, 17.3, 19]
[-13.4, 14.2]

In [67]:
print(energy)
energy[0:2]
print(energy)

[-13.4, 14.2, 17.3, 19]
[-13.4, 14.2, 17.3, 19]

In [69]:
##Repeating an operation many times: for loops

In [71]:
energy_kJ = energy * 4.184     # I should get an error as energy is a matrix (list)
print(energy_kJ)

TypeError: can't multiply sequence by non-int of type 'float'

In [75]:
energy_kJ = energy[1:3] * 4.184   # I should get an error as it is still a matrix (list)
print(energy_kJ)

TypeError: can't multiply sequence by non-int of type 'float'

In [77]:
energy_kJ = energy[3] * 4.184   # I should not get an error as it is a scalar now (not a list)
print(energy_kJ)

79.49600000000001

In [87]:
# If I want to multiply a number with each element of the list, I need to use for command
for number in energy:
    energy_kJ = number * 4.184    # I also used indentation here (4 spaces) to continue the same loop. 
    print(energy_kJ)              # If I don't indent, I will get an error.

-56.0656
59.4128
72.3832
79.49600000000001

In [99]:
# using for and in command, we just got output values.  If we want to convert the output into a list 
# just like energy, then use append function.
energy_kJ_list = []
for number in energy:
    energy_kJ = number * 4.184
    energy_kJ_list.append(energy_kJ)
    print(energy_kJ_list)

[-56.0656]
[-56.0656, 59.4128]
[-56.0656, 59.4128, 72.3832]
[-56.0656, 59.4128, 72.3832, 79.49600000000001]

In [95]:
energy_kJ = []
for number in energy:
    kJ = number * 4.184
    energy_kJ.append(kJ)
print(energy_kJ)

[-56.0656, 59.4128, 72.3832, 79.49600000000001]

In [101]:
energy_kJ_list = []
for number in energy:
    energy_kJ = number * 4.184
    energy_kJ_list.append(energy_kJ)
print(energy_kJ_list)

[-56.0656, 59.4128, 72.3832, 79.49600000000001]

In [115]:
## Logic Statements 
#Now we have energy_kJ_list, what if we want to report only -ve values
negative_energy_kJ_list = []
for number in energy_kJ_list:
    if number < 0:
        negative_energy_kJ_list.append(number)
print(negative_energy_kJ_list)

[-56.0656]

In [121]:
# let's use some other logic operators
positive_energy_kJ_list = []
for number in energy_kJ_list:
    if number >= 0:
        positive_energy_kJ_list.append(number)
print(positive_energy_kJ_list)

[59.4128, 72.3832, 79.49600000000001]

In [133]:
# Exercise: Set up a for loop to go over each element of data_list.

data_list = ['-12.5', 14.4, 8.1, '42']
data_list_type =[]
for number in data_list:
    type_of_list = type(data_list)
    data_list_type.append(type_of_list)

print(data_list_type)

[<class 'list'>, <class 'list'>, <class 'list'>, <class 'list'>]

In [144]:
# Now if I want to change type of all str items to float
data_list = ['-12.5', 14.4, 8.1, '42']

data_list_float =[]
for number in data_list:
    if type(number) == str:
        float_type = float(number)
    data_list_float.append(float_type)

print(data_list_float)

[-12.5, -12.5, -12.5, 42.0]